/* colors */
$cWhite: #ffffff;
$cClouds: #ecf0f1;
$cSilver: #bdc3c7;
$cMidnight: #2c3e50;
$cDracula: #2d3436;

/* header parameters */
$header-logo-height: 60px;
$header-height: 70px;
$header-nav-border: calc(70px - 30px);

/* footer parameters */
$footer-height: 70px;
