@import "../../../styles/variables";

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 250px;
  border: 10px solid transparent;
  transition: 0.3s all;
  border-radius: 10px;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 7px -2px rgba($cMidnight, 0.6);
  }
  .title {
    color: $cMidnight;
    font-size: 1.1rem;
  }
}
